.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  font-size: 1.5rem;
  margin: 1rem;
}


input {
  width: 6rem;
  padding: 0.8rem;
  font-size: 1.5rem;
  border: none;
  color: #56a5eb;
}


select {
  padding: 0.8rem;
  font-size: 1.5rem;
  border: none;
  color: #56a5eb;
}
